node_modules
npm-debug.log*
.git
.gitignore
.env
.env.*
!.env.example
Dockerfile
.dockerignore
docker-compose.yml
README.md
coverage
.vscode
.idea
.DS_Store
*.log
public/uploads/*
!public/uploads/.gitkeep
